.card {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    padding: 20px;
    background-color: rgb(40, 38, 36);
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: fit-content;
    font-size: medium;
}

.card svg{
    vertical-align: middle;
    margin-top: 10%;
}
.card .value{
    text-align: right;
}