
.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #363333;
    padding: 10px;
    margin-top: 2px;
    border-radius: 8px;
}
.finished {
    background-color: green;
}