.button-group {
    background-color: #251d1d;
    width: 100%;
    border-radius: 10px;
}

.button-group .active {
    background-color: orange;
}

.button-group button {
    padding: 30px;
    border-radius: 10px;
    width: auto;
}
.table-level{
    background-color: #251d1d;
    border-radius: 10px;
}
.table-level th{
    text-align: center;
}
.table-level td{
    font-size: medium;
    text-align: center;
}   