#card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.pico {
    width: 50px;
    height: 50px;
}

.inter-container {
    background-color: #29232334;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
    padding-left: 20px;
}

.description {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left;
}

.description p {
    font-size: small;
}

#my-recent-challenge {

    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #29232334;
    margin-top: 10px;
    border-radius: 20px;
}

#my-recent-challenge h4 {
    text-align: left;
    margin: auto;
    display: block;
    width: 100%;
    margin-left: 15px;
}

#my-recent-challenge a {
    text-align: right;
    margin: auto;
    width: 100%;
    padding-right: 10px;
}

.dashboard-wrapper,
.content-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.dashboard-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
}